input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
    padding: 0px;
    min-width: 2rem;
    min-height: 2rem;
}

.common-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-name-size {
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 1rem;
}

.change-password {
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
}

.default-vh {
    min-height: 81vh !important;
}

.h-300{
    max-height: 300px !important;    
}

.title-head {
    font-size: 22px !important;
    font-weight: 600;
}

.title-caption {
    font-size: 16px !important;
    font-weight: 600;
}

.font-bold{
    font-weight: bold;
}

.footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    /* Optional: To make it more visually distinctive */
    border-top: 1px solid #ccc;
}